<nav class="navbar">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="background: black;">
        <span class="icon-bar" ></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>

      <ul class="nav navbar-nav navbar-left">
        <li>
          <%= image_tag("//s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/jgdfreebg.png", :alt => "Santosham", :size => "50x50") %>          
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">      
         <ul class="nav navbar-nav navbar-right">        
        <li>
          <%= link_to "HOME", root_path %>
        </li>        
        <li>
          <%= link_to "ASTROLOGY", astrology_path %>
        </li>         
        <li>
          <%= link_to "MEDITATION", meditation_path %>
        </li>
        <li>
          <%= link_to "YOGA", yoga_path %>
        </li> 
        <li>
          <%= link_to 'LIFE', life_path %>
        </li>
        <li>
          <%= link_to "YOUR QUESTIONS", root_path %>
        </li>                                                         
      </ul>      
    </div>
  </div>
</nav>
